#脚本功能：解锁酷我音乐会员
#脚本作者：king
hostname = *.kuwo.cn, *.lrts.me
# 解锁酷我音乐会员➕听书
^http://(.+).(lrts|kuwo).(me|cn)(/v2/api/user/info|/a.p|/vip/v2/user/vip) url script-response-body https://raw.githubusercontent.com/Peng-Lx/lxpscript/master/quantumultx/JS/King/kuwo.js

# 解锁酷我音乐会员下载
^https?:\/\/musicpay\.kuwo\.cn\/music\.pay\?.+$ url script-request-header https://raw.githubusercontent.com/Peng-Lx/lxpscript/master/quantumultx/JS/King/kuwoxz.js
#hybz
^http://vip1.kuwo.cn/vip/enc/user/vip.+$ url script-response-body https://raw.githubusercontent.com/Peng-Lx/lxpscript/master/quantumultx/JS/King/kuwo.js
#szzj
^https?:\/\/musicpay\.kuwo\.cn\/music\.pay\?newver.+$ url script-response-body https://raw.githubusercontent.com/Peng-Lx/lxpscript/master/quantumultx/JS/King/kuwoszzj.js
