/*
要学参考毒奶博主：https://github.com/limbopro/Adblock4limbo/tree/main/CSS
*/


img[class*="ad_img"] {display: none!important;}
iframe[src*="ads"] {display: none!important;}
img[href*='.gif'] {display: none!important;}
